[Desktop Entry]
Version=1.0
Name=Microsoft Edge
GenericName=Web Browser
GenericName[zh_CN]=网页浏览器
Comment=Access the Internet
Comment[zh_CN]=访问互联网
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/edge --file-forwarding com.microsoft.Edge @@u %U @@
StartupNotify=true
Terminal=false
Icon=com.microsoft.Edge
StartupWMClass=microsoft-edge
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.microsoft.Edge
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/com.microsoft.Edge.desktop

[Desktop Action new-window]
Name=New Window
Name[zh_CN]=新建窗口
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/edge com.microsoft.Edge

[Desktop Action new-private-window]
Name=New InPrivate Window
Name[zh_CN]=新建 InPrivate 窗口
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/edge com.microsoft.Edge --inprivate
