[user]
pinned=/home/Queen/.local/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;
indicatorStyle=2
inactiveIndicatorStyle=2
indicatorOrientation=0
indicatorColor=rgb(255,163,72)
inactiveColor=rgb(76,166,230)
