[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/queen/Desktop/自用XFCE4美化文件.7z]
row=0
col=4

[/home/queen/Desktop/自用XFCE4美化文件]
row=0
col=3

[6DFF-4F5E]
row=0
col=2

[回收站]
row=0
col=0

[/home/queen]
row=0
col=1

