[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/queen/Desktop/whisker-menu.gtk.css.light.zip]
row=0
col=6

[/home/queen/Desktop/xfce4-panel-config.zip]
row=0
col=7

[/home/queen/Desktop/xfce4-panel-config]
row=0
col=8

[/home/queen/Desktop/glava-conf.zip]
row=0
col=2

[/home/queen/Desktop/whisker-menu.gtk.css.dark.zip]
row=0
col=5

[/home/queen/Desktop/Resource Xfce picom.7z]
row=0
col=3

[/home/queen/Desktop/ReXfce-conky.7z]
row=0
col=4

[/]
row=0
col=0

[/home/queen]
row=0
col=1

