[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/Queen/桌面/token.txt]
row=0
col=6

[/home/Queen/桌面/com.alibabainc.dingtalk.desktop]
row=0
col=2

[/home/Queen/桌面/wps-office-prometheus.desktop]
row=0
col=3

[/home/Queen/桌面/新建文件]
row=0
col=4

[943C-26A9]
row=0
col=5

[回收站]
row=0
col=0

[/home/Queen]
row=0
col=1

